body{
  background-color: #4089c9;
}
.card-header {
  margin-left: 40%;
  margin-top: 30px;
  font-size: x-large;
  color: #f5f5f5;
}
.card {
  border: 2px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 30%;
  margin-left:35%;
  margin-top: 15vh;
  background-color: #333;
  color: #f5f5f5;
}

.card-body {
  padding: 50px;
  margin-left: 15%;
}

.form-outline {
  position: relative;
}

.form-outline label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #aaa;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.form-outline input {
  height: 50px;
  font-size: 16px;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px solid #ddd;
  transition: all 0.3s ease-in-out;
}

.form-outline input:focus,
.form-outline input:active {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-outline input:focus + label,
.form-outline input:active + label {
  transform: translateY(-120%);
  font-size: 12px;
  color: #007bff;
}

.btn-primary {
  background-color: #5cb85c;
  border-color: #bbb;
  border-radius: 25px;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  margin-top: 10px;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
